:root {
  --color-heading: #3f4f80;
  --color-gray: #dfdfdf;
  --app-green: #86b052;
  --app-background: #ededed
}


@font-face {
  font-family: 'Inter';
  src: local("Inter"), url('~/assets/fonts/inter/Inter-Regular.ttf')  format('truetype');
}

html, .v-application{
  font-family: Inter, sans-serif !important;
}

h1,h2,h3,h4,h5 {
  color: var(--color-heading);
  margin: 1rem 0;
}

.page {
  background: #ededed;
}
/* Banner */
.banner {
  width: 100%;
  background-color: rgb(64,71,109) !important;
  color: #fff !important;
  padding: 1rem 0.5rem;
  font-weight: 300;
  border-radius: 0.8rem !important;
}

@media (min-width: 600px) {
  .banner {
    display: flex;
  }
}
